{% extends "emails/base.html" %}

{% block subject %}
Welcome to Mission Vistaar
{% endblock %}

{% block content %}
<p>Dear {{volunteer.name}},</p>

<p>Thanks for registering to volunteer for Mission Vistaar in AAM AADMI PARTY.</p>

<p>You have been registered with the following details:</p>
<div class="quote">
	<table class="noborder">
		<tr><th>Name</th><td>{{volunteer.name}}</td></tr>
		<tr><th>Phone</th><td>{{volunteer.phone}}</td></tr>
		<tr><th>E-mail</th><td>{{volunteer.email}}</td></tr>
		<tr><th>Voter ID</th><td>{{volunteer.voterid or ""}}</td></tr>
	</table>
</div>

<p>Accordingly, your native booth has been identified as:<br/>
<div class="quote">
{{render_place(volunteer.place)}}
{% for p in volunteer.place.parents[::-1] %}
	{{render_place(p)}}
{% endfor %}
</div>
<p>

<p>Your request for registration will be approved by your local co-ordinator.</p>

<p>Once approved, you can start Mission Vistaar work at your polling center and subsequently, at other centers.<p>

<p>Together let us build a strong AAM AADMI PARTY that can deliver clean politics and good governance in the country.</p>

<p>
Jai Hind!<br/>
AAM AADMI PARTY.
</p>
{% endblock %}

{% macro render_place(place) %}
	{% if place.type.short_name not in ['COUNTRY', 'REGION'] %}
		<a href="{{url_for('place', key=place.key, _external=True)}}">{{place.name}}</a> <span class="small">{{place.type.name}}</span><br/>
	{% endif %}
{% endmacro %}
