{% extends "base.html" %}

{% block extrahead %}
    <link rel="stylesheet" href="{{ url_for('static', filename='octicons/octicons.css') }}">
{% endblock %}

{% block content_head %}
  <h1>Dashboard</h1>
{% endblock %}

{% block content_body %}
  Welcome {{user.name}}!

  <p>
  You are member of
  <a href="{{url_for('place', place=user.place)}}">{{user.place.name}}</a>.
  </p>


  <div class="app-grid">
    {% if has_permission("siteadmin") %}
      <div class="app">
        <div class="app-icon">
          <a href="/admin"><span class="octicon octicon-key"></span></a>
        </div>
        <div class="app-label"><a href="/admin">Admin</a></div>
      </div>
    {% endif %}
    {% if has_permission("door2door.add", place=user.place) %}
      <div class="app">
        <div class="app-icon">
          <a href="{{ url_for('door2door.make_entry', place=user.place.get_parent("AC")) }}">
              <span class="octicon octicon-organization"></span>
          </a>
        </div>
        {# Redirecting to user's AC place #}
        <div class="app-label"><a href="{{ url_for('door2door.make_entry', place=user.place.get_parent("AC")) }}">Parivar Jodo</a></div>
      </div>
    {% endif %}
  </div>
{% endblock %}
