{% extends "base.html" %}
{% block content_head %}
  <h1>Log In</h1>
{% endblock %}

{% block content_body %}
  {% if error %}
    <div class="alert alert-danger">
        <p><a href="{{ url_for('oauth_reset') }}" class="pull-right" style="color: inherit;">Sign out?</a>
        You've been authenticated as <strong>{{userdata['email']}}</strong> via {{userdata['service']}}, but you are not a registered user.</p>
        <p>Would you like to <a class="alert-link" href="{{url_for('signups.signup')}}">sign up as a volunteer</a>?</p>
    </div>
  {% else %}
    <h3>Log in instantly using:</h3>
    <p>
      {% for provider in get_oauth_providers() %}
        <a href="{{ url_for('oauth_redirect', view='login', provider=provider.name) }}" class="btn btn-primary">{{provider.title}}</a>
      {% endfor %}
    </p>
  {% endif %}
</div>
{% endblock %}