{% macro breadcrumbs(place, include_self=False, endpoint='place', view_params={}) %}
  {% if place.parents %}
    <ul class="breadcrumb breadcrumb-collapse">
      {% for p in place.parents %}
        <li class="breadcrumb-{{p.type.short_name.lower()}}"><a href="{{ url_for(endpoint, key=p.key, **view_params) }}">{{ p.name }}</a> <span class="divider"></span></li>
      {% endfor %}
      {% if include_self %}
        <li class="breadcrumb-self"><a href="{{ url_for(endpoint, key=place.key, **view_params) }}">{{ place.name }}</a> <span class="divider"></span></li>
      {% endif %}
    </ul>
  {% elif include_self %}
    <ul class="breadcrumb breadcrumb-collapse">
        <li class="breadcrumb-self"><a href="{{ url_for(endpoint, key=place.key, **view_params) }}">{{ place.name }}</a> <span class="divider"></span></li>
    </ul>
  {% endif %}
{% endmacro %}

{% macro subnavigation(place, tab="home", permissions=[]) %}
  <ul class="nav nav-pills">
    <li class="{{'active' if tab=='home' }}">
      <a href="{{url_for('place', key=place.key)}}">Home</a>
    </li>
    {% if "read" in permissions %}
      <li class="{{'active' if tab=='volunteers' }}">
        <a href="{{url_for('volunteers', key=place.key)}}">Volunteers <span class="badge">{{place.get_member_count()}}</span></a>
      </li>
    {% endif %}
    {% if "write" in permissions %}
      <li class="pull-right {{'active' if tab=='admin' }}">
        <a href="{{url_for('admin', key=place.key)}}">Admin Center</a>
      </li>
    {% endif %}
  </ul>
{% endmacro %}

{% macro render_pill(title, link, request_path) %}
  {% if request_path == link %}
    <li class="active"><a href="{{ link }}">{{ title }}</a></li>
  {% else %}
    <li><a href="{{ link }}">{{ title }}</a></li>
  {% endif %}
{% endmacro %}

{% macro render_field(field) %}
  {% set klass = "has-error" if field.errors %}
  {% set klass2 = "disabled" if field.flags.disabled %}
  {% set _x = kwargs.update({"disabled": "disabled"}) if field.flags.disabled %}
  {% set _x = kwargs.setdefault("placeholder", field.description) if field.description %}
  <div class="form-group {{klass}} {{klass2}}">
      {{field.label}}
      {{field(class_="form-control", **kwargs)}}
      {% if field.errors %}
        <ul class="help-block list-unstyled form-errors">
          {% for error in field.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
  </div>
{% endmacro %}

{% macro show_flash_messages() %}
  {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      <ul class="flashes list-unstyled">
      {% set classes = dict(error='danger', message='info') %}
      {% for category, message in messages %}
        <li class="flash flash-{{category}}"><div class="alert alert-{{classes.get(category, category)}}">{{ message }}</div></li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
{% endmacro %}