{% import "macros.html" as macros %}
{% extends "base.html" %}

{% block navbar %}
  <div class="visible-xs">
    <div class="cs-header">
      <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
data-target="#bs-example-navbar-collapse-2" style="margin-top: 0px;
margin-bottom: 0px;">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar" style="background-color: white;"></span>
          <span class="icon-bar" style="background-color: white;"></span>
          <span class="icon-bar" style="background-color: white;"></span>
        </button>
        <h1>{{ place.name }} <span class="small">{{ place.type.name }}</span></h1>
      </div>
      <div class="container">
        <div class="collapse" id="bs-example-navbar-collapse-2">
          <div class="subnav">
            <ul class="list-group">
              {% if user %}
                <li class="list-group-item"><a href="{{url_for('dashboard')}}">Dashboard</a></li>
                <li class="list-group-item">
                  <form name="logout" action="{{url_for('logout')}}" method="POST" style="display: none;">
                  </form>
                  <a class="logout" href="/account/logout" onclick="document.forms.logout.sumit();">Log Out</a>
                </li>
              {% else %}
                <li class="list-group-item"><a class="login" href="{{url_for('login')}}">Log In</a></li>
                <li class="list-group-item"><a class="login" href="{{url_for('signups.signup')}}">Sign Up</a></li>
              {% endif %}
            </ul>
          </div>
          {{self.subnav()}}
          <h4>Navigation</h4>
          <ul class="list-group">
            {% for p in place.parents %}
              <li class="list-group-item"><a href="{{ url_for('place', key=p.key) }}">{{ p.name }}</a> <span class="divider"></span></li>
            {% endfor %}
          </ul>
        </div><!-- collapse -->
      </div> <!-- container -->
    </div> <!-- cs-header -->
  </div> <!-- visible-xs -->
  <div class="hidden-xs">
    {{super()}}
  </div>
{% endblock %}

{% block content %}
  <div class="cs-header hidden-xs">
    <div class="container">
      {% block page_header %}
        {{ macros.breadcrumbs(place) }}
        <h1>{{ place.name }} <span class="small">{{ place.type.name }}</span></h1>
      {% endblock %}
    </div>
  </div>
  <div class="page-content">
    <div class="container">
      {{macros.show_flash_messages()}}
    </div>
    {% block page_container %}
      {{ self.three_column_layout() }}
    {% endblock %}
  </div>
{% endblock %}

{% block subnav %}
  {{ subnav(place, tab="home") }}
{% endblock %}

{% block page_content %}
  <h2>{{place.name}}</h2>

  <h3>Stats</h3>
  {% for s in get_stats(place) %}
    {{s.render(place)}}
  {% endfor %}

  {{ widget("PlaceList", place=place) }}

{% endblock %}

{% block rightsidebar %}
    {{ widget("Summary", place=place) }}
    {{ widget("MissionVistaar", place=place) }}
    {{ widget("PlaceNavigation", place=place) }}
{% endblock %}

{% macro subnav(place, tab="home") %}
  <div class="subnav">
    <ul class="list-group">
      <li class="list-group-item {{'active' if tab=='home' }}">
        <a href="{{url_for('place', key=place.key)}}">Home</a>
      </li>
      {% if "read" in permissions %}
        <li class="list-group-item {{'active' if tab=='committees' }}">
          <a href="{{url_for('committees.committees', key=place.key)}}">Committees</a>
        </li>
      {% endif %}
      {% if "view-volunteers" in permissions %}
        <li class="list-group-item {{'active' if tab=='volunteers' }}">
          <a href="{{url_for('volunteers.volunteers', key=place.key)}}">Volunteers <span class="badge pull-right">{{place.get_member_count()}}</span></a>
        </li>
      {% endif %}
    </ul>

    {% if "write" in permissions %}
      <h4>Admin</h4>
      <ul class="list-group">
        {% if place.type.short_name != "PB" %}
          <li class="list-group-item {{'active' if tab=='mv-requests' }}">
            <a href="{{url_for('vistaar.admin_mv_requests', key=place.key)}}">Mission Vistaar Requests</a>
          </li>
        {% endif %}
        {% if place.type.short_name not in ["PB", "PX"] %} 
          <li class="list-group-item {{'active' if tab=='committee-structures' }}">
            <a href="{{url_for('committees.committee_structures', key=place.key)}}">Committee Structures</a>
          </li>        
        {% endif %}
        <li class="list-group-item {{'active' if tab=='contacts' }}">
          <a href="{{url_for('admin_contacts', key=place.key)}}">Contacts <span class="badge pull-right">{{place.get_contact_count()}}</span></a>
        </li>        
        <li class="list-group-item {{'active' if tab=='sendmail' }}">
          <a href="{{url_for('admin_sendmail', key=place.key)}}">Send E-mails</a>
        </li>        
        <li class="list-group-item {{'active' if tab=='sms' }}">
          <a href="{{url_for('admin_sms', key=place.key)}}">Send SMS</a>
        </li>
        {% for e in sidebar_entries %}
          {% if not e['permission'] or e['permission'] in permissions %}
            <li class="list-group-item {{'active' if tab==e['tab'] }}">
              <a href="{{url_for(e['entrypoint'], key=place.key)}}">{{e['title']}}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endmacro %}

{% block three_column_layout %}
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-xs-0 hidden-xs">
        {{self.subnav()}}
      </div>
      <div class="col-md-7 col-xs-12">
        {{self.page_content()}}
      </div>
      <div class="col-md-3 col-xs-0 hidden-xs">
        {{ self.rightsidebar() }}
      </div>      
    </div>
  </div>
{% endblock %}

{% block two_column_layout %}
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-xs-0 hidden-xs">
        {{self.subnav()}}
      </div>
      <div class="col-md-10 col-xs-12">
        {{self.page_content()}}
      </div>
    </div>
  </div>
{% endblock %}
