{% extends "place.html" %}

{% block subnav %}
    {{ subnav(place, tab="audit_trail") }}
{% endblock %}

{% block page_content %}
  <h2>Audit Trail</h2>

  <table class="table">
    <tr>
      <th>When</th>
      <th>Where</th>
      <th>Who</th>
      <th>What</th>
    </tr>
    {% for record in place.get_audit_records() %}
      <tr>
        <td>{{ record.timestamp | naturaltime }}</td>
        <td><a href="{{url_for('place', key=record.place.key)}}">{{record.place.key}}</a></td>
        <td>
          {% if record.user %}
            <strong>{{record.user.name}}</strong>
          {% endif %}
        </td>
        <td>{{render_audit_record(record)}}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}

{% block page_container %}
  {{ self.two_column_layout() }}
{% endblock %}

{% macro render_audit_record(record) %}
  {% if record.action == 'volunteer-signup' %}
    <strong>{{record.data['email']}}</strong> signed up as volunteer.
  {% elif record.action == 'volunteer-signup-approved' %}
    Approved signup of <strong>{{record.data['email']}}</strong>.
  {% elif record.action == 'committee.add-member' %}
    Added <strong>{{record.data['member']['name']}}</strong> as <strong>{{record.data['role']['role']}}</strong> to <strong>{{record.data['committee']['name']}}</strong>.
  {% elif record.action == 'committee.remove-member' %}
    Removed <strong>{{record.data['member']['name']}}</strong> as <strong>{{record.data['role']['role']}}</strong> from <strong>{{record.data['committee']['name']}}</strong>.
  {% elif record.action == 'volunteer.added' %}
    Added <strong>{{record.data['name']}}</strong> as volunteer.
  {% else %}
    {{ record.action }}
  {% endif %}
{% endmacro %}