{% extends "emails/base.html" %}

{% block subject %}
You've been added as volunteer
{% endblock %}

{% block content %}
<p>Dear {{volunteer.name}},</p>

<p>Thanks for volunteering to work as part of Mission Vistaar in AAM AADMI PARTY.</p>

<p>You have been registered with the following details:
<div class="quote">
	<table class="noborder">
		<tr><th>Name</th><td>{{volunteer.name}}</td></tr>
		<tr><th>Phone</th><td>{{volunteer.phone}}</td></tr>
		<tr><th>E-mail</th><td>{{volunteer.email or ""}}</td></tr>
	</table>
</div>

<p>Accordingly, your native booth has been identified as:<br/>
<div class="quote">
<a href="{{url_for('place', key=volunteer.place.key, _external=True)}}">{{volunteer.place.name}}</a>
{% for p in volunteer.place.parents[::-1] %}
	{{render_place(p)}}
{% endfor %}
</div>
<p>

<p>Please feel free to contact your administrator in case you have any queries:</p>
<div class="quote">
	<table class="noborder">
		<tr><th>Name</th><td>{{user.name}}</td></tr>
		<tr><th>Phone</th><td>{{user.phone}}</td></tr>
		<tr><th>E-mail</th><td>{{user.email}}</td></tr>
	</table>
</div>

<p>You can now start Mission Vistaar work by clicking on the "Request to work here" button at your polling center. Once you have finished working at this polling center and recruited new volunteers, you can then take on any next polling center of your choice.</p>

<p>Together let us build a strong AAM AADMI PARTY that can deliver clean politics and good governance in the country.</p>
<p>
Jai Hind!<br/>
AAM AADMI PARTY.
</p>
{% endblock %}
