{% extends "booth_agents.html" %}

{% block page_content %}
    {{breadcrumbs(place)}}
    <h2>{{place.name}} <span class="small">{{ place.type.name }}</span></h2>

    <ul class="nav nav-pills">
      <li role="presentation"><a href="{{url_for('.booth_agents', place=place)}}">Report</a></li>
      <li role="presentation" class="active"><a href="{{url_for('.booth_agents_data', place=place)}}">Data</a></li>
    </ul>

    <br/>

    <div class="alert alert-warning">
      Be very careful while editing.<br/>
      Put * at the end of the name if the person is also a booth incharge.<br/>
      To delete an entry, remove name and phone number.
    </div>

    <div>
      <a href="javascript:;" class="btn btn-primary save-table">Save</a>
      <a href="{{url_for('.booth_agents_data', place=place)}}" class="btn btn-danger">Cancel</a>
    </div>
    <br/>

    <div id="example">
    </div>
    <br/>

    <div>
      <a href="javascript" class="btn btn-primary save-table">Save</a>
      <a href="{{url_for('.booth_agents_data', place=place)}}" class="btn btn-danger">Cancel</a>
    </div>

  <script type="text/javascript">

    $(function() {
        var data = {{report.serialize_data()|json_encode}};

        $('#example').handsontable({
          data: data,
          colHeaders: ["Booth#", "Name", "Phone", "Voter ID", "Address", "Notes", "Role"],
          minSpareRows: 5,          
          columns: [{
            data: "booth_number",
          }, {
            data: "name",
          }, {
            data: "phone",
          }, {
            data: "voterid",
          }, {
            data: "address",
          }, {
            data: "notes",
          }, {
            data: "role",
            type: 'dropdown',
            source: ["Booth Agent", "Table Incharge", "Booth Volunteer"]
          }],
          contextMenu: false,
          colWidths: [70, 250, 150, 150, 200, 250, 125]
        });

        $("a.save-table").click(function(e) {
            e.preventDefault();

            var handsontable = $("#example").data("handsontable");
            console.log(handsontable.getData());
            $.ajax({
                url: window.location.href,
                data: {data: JSON.stringify(handsontable.getData())},
                dataType: "json",
                type: 'POST',
                success: function (res) {
                  console.log(res.result);
                  if (res.status === 'ok') {
                    window.location.href = "{{changeview(endpoint='.booth_agents_data')}}";
                  }
                  else {
                    alert('Save error');
                  }
                },
                error: function () {
                    alert('Save error');
                }
            });
        });
    });
  </script>
{% endblock %}

{% block extrahead %}
  {{super()}}
  <script type="text/javascript" src="{{ url_for('static', filename='handsontable/jquery.handsontable.full.min.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='handsontable/jquery.handsontable.full.min.css') }}">
{% endblock %}

{% block page_container %}
  <div class="container">  
    {{self.page_content()}}
  </div>
{% endblock %}
