{% from "macros.html" import paginate %}
{% if volunteers|length > 0 %}
    <div class="row">
      {% for volunteer in volunteers %}
        <div class="col-md-6">
            {{widget("VolunteerCard", volunteer=volunteer, show_contact_details=has_permission("volunteers.view-contact-details"))}}
        </div>
      {% endfor %}
    </div>
{% else %}
    <div class="text-center">
        <em>None found.</em>
    </div>
{% endif %}

{# PAGINATION #}
<div class="text-center">
    {{ pagination.links }}
</div>
