{% from "macros.html" import paginate %}
{% if pagination.total_results > 0 %}
    <div class="row">
      {% set limit = pagination.limit %}
      {% for m in place.get_all_members(limit=limit, offset=(pagination.current_page - 1) * limit) %}
        <div class="col-md-6">
            {{widget("VolunteerCard", volunteer=m)}}
        </div>
      {% endfor %}
    </div>
{% else %}
    <div class="text-center">
        <em>None found.</em>
    </div>
{% endif %}

{# PAGINATION #}
{{ paginate(pagination) }}
