
{% set parents = place.parents %}
{% set siblings = place.get_siblings() %}
<div class="place-navigation">
  <div class="panel panel-default">
    {% for p in parents %}
      <div class="panel-heading panel-heading-{{p.type.name.lower()}}">
        <strong><a href="{{ changeview(place=p) }}"> {{ p.name }}</a></strong><br/>
        <small>{{ p.type.name }}</small>
      </div>
    {% endfor %}        
    {% if not show_child_places %}
      <div class="panel-heading panel-heading-{{place.type.name.lower()}}"><strong>{{ place.type.name | pluralize }}</strong></div>
      <div class="panel-body panel-body-{{place.type.name.lower()}}">
        <ul class="list-unstyled parents section-body">
          {% for p in siblings %}
            {% if p == place %}
              <li><strong>{{ p.name }}</strong></li>
            {% else %}
              <li><a href="{{ changeview(place=p) }}"> {{ p.name }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    {% if show_child_places %}
      <div class="panel-heading panel-heading-{{place.type.name.lower()}}"><strong>{{ place.type.name }}</strong></div>
      <div class="panel-body panel-body-{{place.type.name.lower()}}">
        <ul class="list-unstyled parents section-body">
            <li><strong>{{ place.name }}</strong></li>
        </ul>
      </div>
      {% for type, places in place.get_child_places_by_type() %}
        <div class="panel-heading panel-heading-{{type.name.lower()}}"><strong>{{ type.name | pluralize }}</strong></div>
        <div class="panel-body panel-body-{{type.name.lower()}}">
          <ul class="list-unstyled parents section-body">
            {% for p in places %}
                <li><a href="{{ changeview(place=p) }}"> {{ p.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>
