<div class="widget widget-placelist">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <strong>Summary</strong>
    </div>
    <div class="panel-body">
      <ul class="list-unstyled">
        {% for typename, count in place.get_counts() %}
          <li><strong>{{count}}</strong> {{typename| pluralize}}</li>
        {% endfor %}
      </ul>
      <div style="border-top: 1px dotted gray; padding-top: 5px;"><strong>{{place.get_member_count()}}</strong> vols</div>


    </div>
  </ul>
</div>