<div class="widget widget-placelist">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <strong>Summary</strong>
    </div>
    <div class="panel-body">
      <ul class="list-unstyled">
        {% for typename, count in place.get_counts() %}
          <li><strong>{{count}}</strong> {{typename| pluralize}}</li>
        {% endfor %}
      </ul>
      {% if "read" in permissions %}
        <ul class="list-unstyled" style="border-top: 1px dotted gray; padding-top: 5px;">
          <li><strong>{{place.get_member_count()}}</strong> volunteers</li>
          {% if "write" in permissions %}
            <li><strong>{{place.get_contact_count()}}</strong> contacts</li>
          {% endif %}
        </ul>
      {% endif %}
    </div>
  </div>
</div>