{% extends "admin/base.html" %}
{% block content_head %}
<div class="page-content">
  <ul class="breadcrumb breadcrumb-collapse">
    <li><a href="{{url_for('admin')}}">Admin Center</a></li>
    <li><a href="{{url_for('admin_divisions')}}">Divisions</a></li>
</li>
    <li></li>
  </ul>
  {% if new %}
    <h2>New Division</h2>
  {% else %}
    <h2>Edit {{division.name}}</h2>
  {% endif %}
</div>  
{% endblock %}

{% block content_body %}
  <form method="POST">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" name="name" id="name" placeholder="Name" value="{{division.name}}">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" name="description" id="description">{{division.description}}</textarea>
    </div>

  <div>
    <button type="submit" name="action" class="btn btn-primary">Save</button>
    <a href="javascript:history.go(-1)" class="text-danger" style="padding-left: 10px;">Cancel</a>
  </div>
{% endblock %}
