
.cs-header h1 {
    margin-top: 0px;
}

.breadcrumb-collapse {
    background-color: white;
    padding: 0;
    margin: 0;
}

.place-navigation li {
    border-bottom: 1px solid #eee;
    padding: 8px 15px;
}

.place-navigation .panel-body {
    padding: 0px;
}

.place-navigation .panel-heading {
    background: #444;
    color: #fff;
    border-bottom: 1px solid #666;
}
.place-navigation .panel-heading a {
    color: #ffffaa;
}

.member-card {
    margin: 10px 0px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #eee;
}

.navbar-inverse {
    color: #999;
}

.navbar {
    margin-bottom: 0px;
}

.cs-header {
    background: black;
    color: #fff;
    margin-bottom: 10px;
    padding: 10px 0px;
}
.breadcrumb-collapse {
    background: inherit;
}

.table.table-borderless td, .table.table-borderless th {
    border: none;
}

footer {
    min-height: 50px;
}

.cs-header h1 a {
    color: white;
}


.cs-header .breadcrumb a {
    color: #ddd;
}