
.cs-header h1 {
    margin-top: 0px;
}

.breadcrumb-collapse {
    background-color: white;
    padding: 0;
    margin: 0;
}

.place-navigation li {
    border-bottom: 1px solid #eee;
    padding: 8px 15px;
}

.place-navigation .panel-body {
    padding: 0px;
}

.place-navigation .panel-heading {
    background: #444;
    color: #fff;
    border-bottom: 1px solid #666;
}
.place-navigation .panel-heading a {
    color: #ffffaa;
}

.member-card {
    margin: 10px 0px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #eee;
    height: 100px;
}

.navbar-inverse {
    color: #999;
}

.navbar {
    margin-bottom: 0px;
}

.cs-header {
    background: black;
    color: #fff;
    margin-bottom: 10px;
    padding: 10px 0px;
}
.breadcrumb-collapse {
    background: inherit;
}

.table.table-borderless td, .table.table-borderless th {
    border: none;
}

footer {
    min-height: 50px;
}

.cs-header h1 a {
    color: white;
}

.cs-header .breadcrumb a {
    color: #ddd;
}

.fixme {
    background: #dcd;
}

.list-group-item.active a {
    color: white;
}

.page-content {
    padding-top: 10px;
}
.page-content h2 {
    margin-top: 0px;
}

.table-voters td.booth {
  font-size: 0.9em;
}

.table-voters td.voterid {
  font-size: 0.9em;
}


/* 
Responsive table, inspired by:
 http://css-tricks.com/examples/ResponsiveTables/responsive.php
*/
@media 
only screen and (max-width: 760px) {
    /* Force table to not be like tables anymore */
    table.table-voters, 
    .table-voters tbody, 
    .table-voters th, 
    .table-voters td,
    .table-voters tr { 
        display: block; 
    }
        
    /* Hide table headers (but not display: none;, for accessibility) */
    .table-voters thead { 
      display: none;
    }
        
    .table-voters tr { 
      border-radius: 10px;
      border: 1px solid #ccc; 
      padding: 10px;
    }
        
    .table-voters td { 
        /* Behave  like a "row" */
        border: none !important; 
        padding: 0px !important;
        position: relative;
    }
    .table-voters td.serial {
      float: right;
    }

    .table-voters td.rel_name:before { content: "("; }
    .table-voters td.rel_name:after { content: ")"; }

    .table-voters td.booth {
      display: none;
    }

  .cs-header h1 {
    font-size: 20px;
  }
}


.content-head {
    margin: 0px;
    padding: 20px 0px;
}
.content-head h2 {
    margin: 0px;
    padding: 0px;
}

body.campaign a { color: #008CBA;}
body.campaign {
    background: #ddeeff;
}

body.campaign .cs-header {
    background: #008CBA;
}
body.campaign .cs-header h2 {
    margin: 10px 0px;
}

a.header {
    color: black !important;
    text-decoration: none;
}