{% extends "admin/index.html" %}

{% block subnav %}
  {{ subnav(place, tab="committees") }}
{% endblock %}

{% block page_content %}
  <h2>Committees</h2>
  {% set committees = place.get_committees() %}
  {% if committees %}
    <ul class="list-unstyled committees">
      {% for c in place.get_committees() %}
        <li><a href="{{ url_for('committees.edit_committee', key=place.key, slug=c.type.slug) }}">{{c.type.name}}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <em>No committes are available at {{place.type.name}} level.</em>
  {% endif %}
{% endblock %}
