{% import "macros.html" as macros %}

{% extends "base.html" %}
{% block content_head %}
  <h2>Admin Center</h2>
{% endblock %}

{% block content_body %}
  <ul class="list-group">
    <li class="list-group-item fixme"><a href="#">Organization Structure</a></li>
    <li class="list-group-item fixme"><a href="#">Place Hierarchy</a></li>
    <li class="list-group-item fixme"><a href="#">Committee Structures</a></li>
    <li class="list-group-item fixme"><a href="#">Settings</a></li>
  </ul>
{% endblock %}
