{% from "macros.html" import render_pill %}
{% extends "admin/index.html" %}

{% block subnav %}
  {{ admin_nav(place, tab="mv-requests") }}
{% endblock %}

{% block page_content %}
  <h2>Mission Vistaar Requests</h2>
  <ul class="nav nav-pills nav-status">
    {{ render_pill("Pending", url_for('admin_mv_requests', key=place.key), request_path)}}
    {{ render_pill("Approved", url_for('admin_mv_requests', key=place.key, status='approved'), request_path)}}
    {{ render_pill("Rejected", url_for('admin_mv_requests', key=place.key, status='rejected'), request_path)}}
  </ul>
  {% set requests = place.get_mv_requests(status=status) %}
  {% if not requests %}
    <em>None found</em>
  {% else %}
    <table class="table">
      <tr>
        <th>When</th>
        <th>Who</th>
        <th>Where</th>
        <th>Actions</th>
      </tr>
      {% for request in requests %}
        <tr>
          <td>{{request.timestamp | naturaltime }}</td>
          <td>
            <strong>{{request.member.name}}</strong>
            <div>{{request.member.email}}</div>
            <div>{{request.member.phone}}</div>
          </td>
          <td>
            <a href="{{url_for('place', key=request.place.key)}}">{{request.place.name}}</a>,<br/>
            {% set ac = request.place.get_parent("AC") %}
            {% set state = request.place.get_parent("STATE") %}
            <a href="{{url_for('place', key=ac.key)}}">{{ac.name}}</a> <small>Assembly Constituency</small>,
            <a href="{{url_for('place', key=state.key)}}">{{state.name}}</a>
          </td>
          <td class="actions">
            {% if status == 'pending' %}
              <form method="POST">
                <input type="hidden" name="request_id" value="{{request.id}}"/>
                <button class="btn btn-primary" name="action" value="approve-request">Approve</button>
                <button class="btn btn-danger" name="action" value="reject-request">Reject</button>
              </form>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
  <style type="text/css">
    td.actions {
      max-width: 250px;
    }
    ul.nav-status {
      margin-bottom: 20px;
    }
  </style>
{% endblock %}

