{% from "macros.html" import render_field %}


{% extends "place.html" %}

{% block extrahead %}
    <script src='//cdn.tinymce.com/4/tinymce.min.js'></script>
    <script>
        tinymce.init({
            selector: '#email',
            theme: 'modern',
            plugins: [
                'advlist autolink link image lists charmap print preview hr anchor pagebreak',
                'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
                'save table contextmenu directionality emoticons template paste textcolor legacyoutput'
            ],
            content_css: 'css/content.css',
            toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons',
            browser_spellcheck: true
        });
    </script>
{% endblock %}

{% block subnav %}
  {{ subnav(place, tab="sendmail") }}
{% endblock %}

{% block page_content %}
  <h2>Send E-mails</h2>

  {% if sent %}
    Done! The email with subject <strong>{{ form.subject.data }}</strong> will be sent to selected people shortly.
  {% else %}
    <form id="sendmail-form" role="form" method="POST">
      {{ form.csrf_token }}
      {{ render_field(form.people) }}
      {{ render_field(form.subject) }}
      <dl>
          <dt>{{ form.message.label }}</dt>
          <dd>{{ form.message(rows=15) }}</dd>
      </dl>
      <button type="submit" class="btn btn-default">Send</button>
    </form>
  {% endif %}

{% endblock %}