{% extends "admin/index.html" %}
{% block page_content %}
  <h2>Pending Volunteer Signups</h2>
  <table class="table">
    <tr>
      <th>When</th>
      <th>Who</th>
      <th>Where</th>
      <th>Actions</th>
    </tr>
    {% for person in place.get_pending_members() %}
      <tr>
        <td>{{person.timestamp | naturaltime }}</td>
        <td>
          <strong>{{person.name}}</strong>
          <div>{{person.email}}</div>
          <div>{{person.phone}}</div>
        </td>
        <td>
          <a href="{{url_for('place', key=person.place.key)}}">{{person.place.name}}</a>,<br/>
          {% set ac = person.place.get_parent("AC") %}
          {% set state = person.place.get_parent("STATE") %}
          <a href="{{url_for('place', key=ac.key)}}">{{ac.name}}</a> <small>Assembly Constituency</small>,
          <a href="{{url_for('place', key=state.key)}}">{{state.name}}</a>
        </td>
        <td class="actions">
          <form method="POST">
            <input type="hidden" name="member_id" value="{{person.id}}"/>
            <button class="btn btn-primary" name="action" value="approve-member">Approve</button>
            <button class="btn btn-danger" name="action" value="reject-member">Reject</button>
          </td>
      </tr>
    {% endfor %}
    </table>
    <style type="text/css">
      td.actions {
        max-width: 250px;
      }
    </style>
{% endblock %}

