{% from "macros.html" import render_field %}
{% extends "place.html" %}

{% block subnav %}
  {{ subnav(place, tab="sms") }}
{% endblock %}

{% block page_content %}
  <h2>Send SMS</h2>

  {% if not is_sms_configured %}
    <div class="alert alert-danger">
      SMS is not configured for this website yet. You'll not be able to send SMS. Please contact your admin for
        configuring it.
    </div>
  {% endif %}
  {% if sent %}
    Done! The SMS will be sent to selected people shortly.
  {% else %}
    <form id="sendmail-form" role="form" method="POST">
      {{ form.csrf_token }}
      {{ render_field(form.people) }}
      {{ render_field(form.message) }}
      <button type="submit" class="btn btn-default">Send</button>
    </form>
  {% endif %}

{% endblock %}

{% block rightsidebar %}
    {{ widget("PlaceNavigation", place=place, show_child_places=True) }}
{% endblock %}
