{% extends "admin/index.html" %}
{% block page_content %}
  <h2>{{committee.type.name}}</h2>
  <div>{{committee.type.description}}</div>

  <h3>Committee Members</h3>
  <div class="committee-members">
    {% for role, members in committee.get_members() %}
    <div class="committee-role">
      <h4>{{role.role}}</h4>
      {% for member in members %}
        <div class="member-card">
          <a href="#"><strong>{{member.name}}</strong></a>
          <div>{{member.email}}</div>
          <div>{{member.phone}}</div>
          <form method="POST">
            <input type="hidden" name="action" value="remove">
            <input type="hidden" name="role" value="{{role.id}}">
            <input type="hidden" name="email" value="{{member.email}}">
            <a class="remove" href="#" title="Remove this member from this role."><span class="glyphicon glyphicon-remove"></span> Remove</a>
          </form>        
        </div> 
      {% endfor %}
      {% if role.multiple or not members %}
        <div class="new-member">
          <form class="form" method="POST">
            <input type="hidden" name="action" value="add">
            <input type="hidden" name="role" value="{{role.id}}">
            <input type="email" name="email" value="" placeholder="Enter e-mail address" style="min-width: 300px;">
            <button type="submit" class="btn btn-primary">Add</button>
          </form>
        </div>            
      {% endif %}
    </div>
    {% endfor %}
  </div>
  <style type="text/css">
    .member-card2 {
      margin: 20px 0px;
    }
    .member-card {
      margin: 20px 0px;
      padding: 0px;
      background: inherit;
      border: none;
    }
    a.remove, a.remove:hover {
      color: #f00;
    }

    .committee-role {
      margin: 20px 0px; 
      padding: 20px; 
      background: #eee;
    }

    .committee-role .member-card:last-child {
      margin-bottom: 0px;
    }
    .committee-role h4 {
      margin: 0px;
    }

    .new-member {
      margin-top: 20px;
    }
  </style>
  <script type="text/javascript">
    $(function() {
      $(".remove").click(function() {
        $(this).closest("form").submit();
      });
    });
  </script>
{% endblock %}
