{% extends "admin/index.html" %}

{% block subnav %}
  {{ subnav(place, tab="voters") }}
{% endblock %}

{% block page_content %}
  <h2>Voters</h2>
  {% set voters = place.get_voters() %}
  {% if not voters %}
    <em>None found</em>
  {% else %}
    <div class="row">
      {% for voter in voters %}
        <div class="col-md-3">
          <div class="voter-info" style="padding: 10px; border: 1px dotted #aaa;">
            <a href="{{url_for('admin_voter_view', key=voter.place.key, voterid=voter.voterid)}}"><strong>{{voter.voterid}}</strong></a>
            <div>Y. Aaam Aadmi</div>
            <div>House No. 1234</div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}