{% extends "campaigns/index.html" %}

{% block page_header %}
  <h2>{{campaign.name}}</h2>
{% endblock %}

{% block page_content %}
    {{breadcrumbs(place)}}
    <h2>{{place.name}} <span class="small">{{ place.type.name }}</span></h2>

    {% if place.type.short_name == "STATE" %}
      <ul class="list-group">
        {% for p in place.get_all_child_places(AC) %}
          <li class="list-group-item"><a href="{{changeview(key=p.key)}}">{{p.name}}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
{% endblock %}
