{% extends "campaigns/index.html" %}

{% block page_header %}
  <h2>{{campaign.name}}</h2>
{% endblock %}

{% block page_content %}
    {{breadcrumbs(place)}}
    <h2>{{place.name}} <span class="small">{{ place.type.name }}</span></h2>

    {% if place.type == AC %}
      <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="{{url_for('.campaign_status', key=place.key, slug=campaign.slug)}}">Status</a></li>
      </ul>
      <br/>
    {% endif %}

    {% if place.type.short_name == "STATE" %}
      <ul class="list-group">
        {% for p in place.get_all_child_places(AC) %}
          <li class="list-group-item"><a href="{{changeview(key=p.key)}}">{{p.name}}</a></li>
        {% endfor %}
      </ul>
    {% elif place.type.short_name == "AC" %}
      <table class="table booth-report-table">
      {% for px, booths in place.get_booths_by_px() %}
        <tr>
          <td class="px">
            {% if px %}
              {% set name = px.name.split("-", 1)[-1] %}
              {{px.code}}
              <!-- <br/><span class="small">{{name|fitlength(30)}}</span></a> -->
            {% endif %}
          </td>
          <td>
            <ul class="booths">
            {% for b in booths %}
              {% set status = status_table.get_status(b) %}
              <li class="booth booth-{{status.status_code}}" title="{{b.name}}">{{b.code.lstrip("PB0")}} - 20</li>
            {% endfor %}
            </ul>
          </td>
        </tr>
      {% endfor %}
      </table>
    {% endif %}
{% endblock %}

{% block extrahead %}
  {{super()}}

<style type="text/css">
ul.booths {
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
}

ul.booths li {
  float: left;
  padding: 5px;
  width: 80px;
  border: 1px solid gray;
  margin: 2px 2px;
}
ul.booths a {
  color: inherit;
}
td.px {
  max-width: 100px;
  overflow: hidden;
}
table.booth-report-table tr {
}
table.booth-report-table td {
  padding: 2px !important;
}

.booth-not-started {
  background: red;
}
.booth-in-progress {
  background: yellow;
}
.booth-done {
  background: #22dd22;
}

</style>
{% endblock %}
